<h1>Edit Item</h1>

    <form  method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ item.name }}" required>
        <label for="name">Email:</label>
        <input type="text" name="email" value="{{ item.email }}" required>
        <label for="name">Subject:</label>
        <input type="text" name="subject" value="{{ item.subject }}" required>
        <label for="description">Message:</label>
        <input type="text" name="message" value="{{ item.message }}" required>
        <input type="submit" value="Update">
    </form>